.user-buttons {
  display: flex;
}

.user-buttons button {
  min-width: auto;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-buttons button.edit {
  background-color: var(--primary);
  color: #fff;
}

.user-buttons button.delete {
  background-color: var(--error);
  color: #fff;
}

/* Data view styles ends here */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .user-buttons {
    flex-direction: column;
  }

  .user-buttons .edit {
    margin-bottom: 16px;
  }
}
