.user-buttons {
  display: flex;
}

.user-buttons button {
  min-width: auto;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.user-buttons button.edit {
  background-color: var(--primary);
  color: #fff;
}

.user-buttons button.delete {
  background-color: var(--error);
  color: #fff;
}

#user-list {
  border-collapse: collapse;
  width: 100%;
}

#user-list td,
#user-list th {
  border: 1px solid var(--border);
  padding: 8px;
}

#user-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

#user-list tr:hover {
  background-color: #ddd;
}

#user-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary);
  color: var(--text-dark);
}

.horizontal-input-spacer {
  width: 8px;
}

/* Data view styles ends here */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .user-buttons {
    flex-direction: column;
  }

  .user-buttons .edit {
    margin-bottom: 16px;
  }
}
